<main class="container">
  <div class="header">
    <h1>Properties</h1>
    <%= link_to "New property",
                new_property_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @properties %>
</main>
